#wrapper{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;

    & > #insert{
        align-self: center;
    }
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}