main {
    display: flex;
    justify-content: center;
    
    & > button {
        border: none;
        border-radius: 50px;
        margin-top: 100px;
        padding: 20px;
        letter-spacing: 5px;
        font-size: 2em;
        background-color: cornflowerblue;

        &:hover{
            cursor: pointer;
            background-color: goldenrod;
            color: darkblue;
        }
    }
}