body{
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(154, 164, 174);
}
#wrapper{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding-top: 100px;
    font-size: 2em;


}

h1, h2, h3{
    background-color: rgb(212, 36, 36);
    padding: 20px;
    border-radius: 20px;
    color: white;
}

aside{
    background-color: rgb(67, 63, 76);
    width: 200px;
    height: 100vh;
    position: absolute;
    margin-left: -150px;
    top: 0px;
    transition: 0.7s;
    color: bisque;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 40px 40px;
    align-items: center;
    justify-items: center;

    font-weight: 700;

    &.active{
        margin-left:0px
    }

    & > .selectMenu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

aside.active .selectMenu:hover{
    background-color: lavenderblush;
    cursor: pointer;
    color: rgb(12, 12, 155);
}

