table{
    font-size: 1.5em;
    display: grid;
    justify-content: center;
    align-items: center;

    & > * > tr{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

table > tbody > tr > td {
    border: 1px solid black;
}
table > thead {
    background-color: black;
    color: white;
    border: 3px dashed black;
}
